.border {
  border: 1px solid yellow;
}

* {
  font-family: "Inter", sans-serif !important;
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

.mantine-SegmentedControl-label div {
  margin: 0 0.5em;
  text-align: center;
}

@media screen and (max-width: 480px) {
  .mantine-Col-root {
    margin: 0;
    padding: 0;
  }
  .header-title {
    font-size: 26px;
  }
  .mantine-SegmentedControl-root {
    width: 100%;
  }
  .mantine-SegmentedControl-label div {
    font-size: 14px;
  }
}
